<div class = " text_style" style = "border: 0px solid black;padding-left:200px; padding-bottom:20px; padding-top:40px">

  <%= "All fields are Mandatory"%>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, required: true,  autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, required: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", required: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%="Your personal data will be used to support your experience throughout this website,"%> 
        <br>
        <%= "to manage access to your account, and for other purposes described in our"%>
        <br>
        <%= link_to " http://brentmark-prod.square63.net//privacy-policy/."%>
      </div>

      <div class="actions", class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>

  <% end %>
</div>
