<div class = " ml-2 mt-2" style = "border: 0;padding-left:50px;">

  <h1>Edit Coupon</h1>
  <%= form_for @coupon, url: {action: "update"} do |form| %>
    <div class = "row">
      <div class = col-4>
        <%= form.label :name%>
        <%= form.text_field :name, placeholder: 'Coupon Name' %>
      </div>
      <div class = "col-4">
        <%= form.label :discount_value%>
        <%= form.text_field :discount_value, placeholder: 'Discount Value' %>
      </div>
    </div>
    <div style = "text-align:right;padding-right:30px;">
      <%= form.submit 'update Coupon', class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>