
<div class = " ml-2 mt-2" style = "border: 0;padding-left:100px;">
  <h3>Add New Product</h3><br />
  <%= form_for @product, action: {method: :create} do |form| %>

    <div class = "row">
      <div class = "col-4" style = "text-align:right">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class = "col-4" style = "text-align:right">
        <%= form.label :price %>
        <%= form.number_field :price %>
      </div>
    </div><br />

    <div class = "row">
      <div class = "col-4" style = "text-align:right">
        <%= form.label :status %>
        <%= form.select :status, ['publish', 'draft', 'pending'] %>
      </div>
      <div class = "col-4" style = "text-align:right">
        <%= form.label :category_id %>
        <%= form.collection_select :category_id, Category.all, :id, :name %>
      </div>
    </div><br />

    <div class = "row">
      <div class = "col-4" style = "text-align:right">
        <%= form.label :description %>
        <%= form.text_area :description %>
      </div>
      <div class = "col-5" style = "text-align:right">
        <%=form.file_field :images, multiple: true%>
      </div>
    </div>

    <div style="text-align:center;padding-left:110px;">
      <%= form.submit class: "btn btn-success"%>
    </div>
  <% end %>
</div>