
<div class = "text_style" style = "border: 0px solid black;padding-right:30px;">
  <h3><%=@product.title%> </h3>
    <strong>Title </strong>
      <%= @product.title %><br />
    <strong>Price </strong>
      <%= @product.price %><br />
    <strong>Description </strong>
      <%= @product.description %><br />
    <strong>Status </strong>
      <%= @product.status %>
</div>